.Nav_bar{
    height: 50px;
    width: 1060px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #0E0E0E;
}
#textt{
    height: 35px;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-left: -380px;
}
#left{
    margin-left: 20px;
}